{% extends 'Home/AnaSayfa.html' %}

{% block title %}
<title>İstekler</title>
{% endblock title %}

{% block body %}
<h4>Arkadaşlık İstekleri</h4>
<br>
{% if istekler is None %}
    <div class="container" style="background-color:#faf7d3; border-radius:6%">
        <h6>Üzgünüz</h6>
        <p style="font-size:16px;"> İstek henüz yok..</p>
    </div>
{% else %}
    <table class="table" >
        <tr>
            <th class="text-center">Username</th>
            <th class="text-center">Zaman</th>
            <th class="text-center">Kabul Et</th>
            <th class="text-center">Sil</th>
        </tr>
        {% for istek in istekler %}
            <tr style="{% cycle 'background-color:#fff2e6' 'background-color:white' %}" >
                <td><a style="color:black" href="{% url 'kullaniciDetail' istek.atanKullanici.id %}">{{istek.atanKullanici.username}}</a></td>
                <td>{{istek.date}}</td>
                <td class="text-center"><a href="{% url 'arkadasKabul' istek.id %}" ><i style="color:blue; font-size:2em" class="fas fa-check-circle"></i></a></td>
                <td class="text-center"><a type="button" data-toggle="modal" data-target="#myModal" ><i style="color:red; font-size:1.7em" class="fas fa-trash-alt"></i></a></td>
            </tr>
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                    
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <h4 class="modal-title">İstek Silmek</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body">
                        Silmek İstediğinize Emin Misiniz?
                        </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                        <a href="#"  class="btn btn-danger">Evet</a>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Hayır</button>
                        </div>

                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </table>
    <br>
{% endif %}
{% endblock body %}

